body {
  background-color: rgb(248, 119, 119); 
}

.image-container {
  position: relative;
  width: 50%;
  margin: 20px auto;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  transition: opacity 0.3s ease;
}

.second {
  opacity: 0;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .image {
  opacity: 0;
}

.image-container:hover .second {
  opacity: 1;
}

.text-container {
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease;
  color: rgba(5, 5, 5, 0.9);
}

.show-text-container .text-container {
  opacity: 1;
}

.section-bottom {
  position: relative;
}

.section-bottom.show-text-container {
  margin-top: 100px;
}

.section {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
  text-align: justify;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 21px;
  color: rgba(5, 5, 5, 0.9);
}
body {
  user-select: none; 
}
.text-container h1:hover {
  color: white; 
  cursor: pointer; 
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.loading-spinner img {
  width: 200px; 
  height: 200px; 
}
.waves-circle {
  position: absolute;
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  border: 2px solid rgb(3, 3, 3); 
  animation: waves-animation 0.9s linear infinite;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .loading-spinner img {
    width: 200px;
  }
}

@keyframes waves-animation {
  1000% {
    transform: scale(1);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.5);
    opacity: 0.2;
  }
  100% {
    transform: scale(2);
    opacity: 0.5;
  }
}
.back-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #333; 
}
.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}
.front-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.front-page h1,
.front-page p {
  margin-bottom: 20px;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.zoomable-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.zoomable-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.zoomed-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
}
.gallery-images img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.gallery-images img:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}
.gallery-title {
  text-align: center;
}
/* Add space between paragraphs */
.front-page p + p {
  margin-top: -1rem; /* Adjust this value as needed */
}
.front-page p {
  font-size: 1rem;
}


